:root {
    --main-border-color: #BFBFBF;
    --primary-color: #F9E2FA;
    --table-header-color: #f0f0f0;
    --black-color:#000

  }

html{
    font-size:14px;
}
body{
    margin-top:10px;
    font-family: Arial, sans-serif;
    font-size:1rem;
    padding:1%;
}
select{
    border:1px solid  var(--main-border-color);
    border-radius: 5px;
    height:25px
}
#main-container{
    position:relative;
    border:1px solid var(--main-border-color);
    width:100%;
    padding-top:5px;
    padding-bottom:5px;  
    display:flex;
    align-items: center;
    padding-left:5px;
     flex-wrap: wrap;
    
    
}
.tag_wrapper{
    background-color:#E6E6E6;
    height:25px;
    width:auto;
    padding:2px;
    border:1px solid var(--main-border-color); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    margin-right:5px;
    
}
.tag_wrapper div{
    padding:0px 10px;
}


#fields-container{
    position:absolute;
    top:100%;
    left:0px;
    width:250px;
    height:auto;
    padding:20px;
    border:1px solid #BFBFBF;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
#fields-container select{
    margin-bottom: 20px;
}
#fields-container.hidden{
    display:none;
}
.add_tag{
    width:25px;
    height:25px;
    border-radius: 50px;
    color:#666666;
    background-color:var(--primary-color);
    border:1px solid #E5CAE7;
    font-weight:900px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.add_tag:hover{
    cursor:pointer;
    background-color:#E79FE9;
}

.add_tag::after { 
    content: "+";
  }
  .submit{
    height:30px;
    width:auto;
    border-radius: 15px;
  }
  .submit:hover{
    background-color:var(--primary-color);
    cursor:pointer;
  }
  #clear_all{
    font-size:1.2rem;
    height:auto;
    width:25px;
    display:flex;
    justify-content: center;
    margin-left:auto;
  }

  #clear_all::after{
    content: "x"
  }
  #clear_all:hover{
    cursor:pointer;
    color:red
  }
  #clear_all.hidden{
    display:none;
  }
  .close{
    width:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.9rem;
    font-weight: bold;
}

.close:hover{
    cursor:pointer;
    width:20px;
    border-radius:50px;
    background-color:#D7D5D7;
  }

  .close::after{
    content: 'x';
  }
  table{
    margin-top:20px;
    width:100%;
    border:1px solid var(--main-border-color);
  }
  table tr{
    border:1px solid var(--main-border-color);
    padding:10px 5px;
  }
  table td{
    padding:10px 5px;
  }
  tr:nth-child(even) {
    background-color:#fafafa
  }

  table th{
    text-align:left;
    justify-content: space-between;
    padding:10px 5px;
    background-color:var(--table-header-color);
    cursor:pointer;
  }
  table th div{
    display:inline-block;
  }
  table th div:first-child{
    padding-right:10px;
    float:left;
  }
 
